.Open {
  position: absolute;
  top: 10vw;
  display: flex;
  width: 100%;
  justify-content: center;
}

.오픈세로 {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.하수구관리 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 3vw;
}

.멘홀 {
  top: 8vw;
  position: absolute;
}

.하수구열림 {
  top: 28vw;
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 2vw;
}
